<!DOCTYPE html> 
<html lang="en"> 
<head>     
  <meta charset="UTF-8">     
  <title>Hello-Books | Profile</title>     
  <meta name="viewport" content="width=device-width, initial-scale=1">     
  <link rel="stylesheet" href="css/bootstrap.min.css">     
  <link rel="stylesheet" href="css/material.min.css">        
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">      
  <link href="https://fonts.googleapis.com/css?family=Merienda|Julee|Quintessential|Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css"> 
</head>

<body>        
  <div class="container container-fluid" id="main">          
    <div class="navbar navbar-default navbar-fixed-top">         
      <div class="navbar-header">           
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">             
          <span class="icon-bar"></span>             <span class="icon-bar"></span>             
          <span class="icon-bar"></span>          
        </button>           
        <a class="navbar-brand" href="../index.html"><i class="fa fa-book" aria-hidden="true"></i> Hello-Books</a>         
      </div>         
      <div class="navbar-collapse collapse navbar-warning-collapse">           
        <ul class="nav navbar-nav navbar-right">  
          <li><a href="#aboutme">About</a></li>  
          <li><a target="_blank" href="#">Contact Admin</a></li> 
          <li><a href="#logout">Log out</a></li>          
        </ul>         
      </div>       
    </div> 

    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <a href="history.html"><button type="button" class="btn btn-primary btn-sm">Categories</button></a>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Sci-fi</a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Epic</a>
            </li>
            <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-ok"></i>
              Vintage</a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              |Romance</a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
            <div class="profile-content">
         <h3>Available Books</h3>
         <br/>
         <div class="row text-center">
        <div class="col-xs-3">
          <a href="#" class="thumbnail">
           <img src="img/design.jpg" class="img-responsive">
           <caption>best seller</caption>
         </a>
         <button type="button" class="btn btn-primary btn-sm">Borrow</button>
       </div>
       <div class="col-xs-3">
        <a href="#" class="thumbnail">
         <img src="img/design.jpg" class="img-responsive">
         <caption>best seller</caption>
       </a>
       <button type="button" class="btn btn-primary btn-sm">Borrow</button>
     </div>
     <div class="col-xs-3">
      <a href="#" class="thumbnail">
       <img src="img/design.jpg" class="img-responsive">
       <caption>best seller</caption>
     </a>
     <button type="button" class="btn btn-primary btn-sm">Borrow</button>
   </div>
   <div class="col-xs-3">
          <a href="#" class="thumbnail">
           <img src="img/design.jpg" class="img-responsive">
           <caption>best seller</caption>
         </a>
         <button type="button" class="btn btn-primary btn-sm">Borrow</button>
         </div>
            </div>
    </div>
  </div>


    <footer class="navbar-fixed-bottom text-center">
      <em>           
        <p> Just Books!  . . . <i class="fa fa-book"></i></p>         
      </em>       
    </footer>     
  </div> 
</body>
</html> 
